GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
HUGGINGFACE_API_KEY=
DATABASE_URL=
ADMIN_EMAIL=admin@theopenlimits.com
ADMIN_PASSWORD=
META_PIXEL_ID=1385887806813423
META_CAPI_ACCESS_TOKEN=
META_TEST_EVENT_CODE=
